<%= form_for(@provider, html: { id: 'provider-form' }) do |f| -%>
  <%= field_block do -%>
    <%= f.label :name do -%>
      Name
      <%= field_help_text('The descriptive name of the provider') %>
    <%- end -%>
    <%= f.text_field :name %>
  <%- end -%>

  <%= field_block do -%>
    <%= f.label :identifier do -%>
      Identifier
      <%= field_help_text('The identifier to use when specifying that this ' \
                          'provider granted an attribute.') %>
    <%- end -%>
    <%= f.text_field :identifier %>

    <em class="tiny">
    </em>
  <%- end -%>

  <%= field_block do -%>
    <%= f.label :description do -%>
      Description
      <%= field_help_text('A more in-depth description of this provider, and ' \
                          'what they do.') %>
    <%- end -%>
    <%= f.text_field :description %>
  <%- end -%>

  <div class="line-of-buttons">
    <%= f.button(class: 'large green icon') do -%>
      <%= icon_tag('checkmark') %>
      <%= submit_label %>
    <%- end -%>

    <%= button_link_to(providers_path, class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>

  <%= error_messages_tag %>
<%- end -%>

<%= validate_form('#provider-form', :provider) do -%>
  <%= auto_validate(@provider, :name, :identifier, :description) %>
  <%- message = 'Valid characters for an identifier are letters, numbers, underscore and hyphen.' -%>
  <%= validate_field(:identifier, urlsafe_base64: message) -%>
<%- end -%>
