<%= page_header('Providers') %>

<table class="ui very basic compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%- @providers.sort_by(&:name).each do |provider| -%>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.identifier %></td>
        <td class="action-buttons">
          <%- if permitted?("providers:#{provider.id}:read") -%>
            <%= button_link_to(provider, class: 'tiny icon') do -%>
              <%= icon_tag('content') %>
              View
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{provider.id}:update") -%>
            <%= button_link_to([:edit, provider], class: 'tiny icon') do -%>
              <%= icon_tag('edit') %>
              Edit
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{provider.id}:roles:list") -%>
            <%= button_link_to([provider, :roles], class: 'tiny icon') do -%>
              <%= icon_tag('legal') %>
              Roles
            <%- end -%>
          <%- end -%>

          <%- if permitted?('admin:permitted_attributes:list') -%>
            <%= button_link_to([provider, :permitted_attributes], class: 'tiny icon') do -%>
              <%= icon_tag('tags') %>
              Permitted Attributes
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{provider.id}:attributes:list") -%>
            <%= button_link_to([provider, :provided_attributes], class: 'tiny icon') do -%>
              <%= icon_tag('users') %>
              Provided Attributes
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{provider.id}:api_subjects:list") -%>
            <%= button_link_to([provider, :api_subjects], class: 'tiny icon') do -%>
              <%= icon_tag('privacy') %>
              API Accounts
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{provider.id}:delete") -%>
            <%= delete_button_tag(provider) %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if permitted?('providers:create') -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_provider_path, class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New Provider
    <%- end -%>
  </div>
<%- end -%>
