<%= page_header('Providers') %>

<table class="ui basic compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @providers.sort_by(&:name).each do |provider| -%>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.identifier %></td>
        <td class="action-buttons right aligned">
          <%- if permitted?("providers:#{provider.id}:read") -%>
            <%= button_link_to(provider, class: 'tiny icon') do -%>
              <%= icon_tag('content') %>
              View
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if permitted?('providers:create') -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_provider_path, class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New Provider
    <%- end -%>
  </div>
<%- end -%>
