<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    @provider.name
  )
%>

<%= page_header('Providers', 'View Provider') %>

<table class="ui definition table">
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @provider.name %></td>
    </tr>
    <tr>
      <td>Identifier</td>
      <td><%= @provider.identifier %></td>
    </tr>
  </tbody>
</table>

<div class="line-of-buttons">
  <%- if permitted?("providers:#{@provider.id}:attributes:list") -%>
    <%= button_link_to([@provider, :provided_attributes], class: 'large primary icon') do -%>
      <%= icon_tag('users') %>
      Identities
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:update") -%>
    <%= button_link_to([:edit, @provider], class: 'large icon') do -%>
      <%= icon_tag('edit') %>
      Edit
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:roles:list") -%>
    <%= button_link_to([@provider, :roles], class: 'large icon') do -%>
      <%= icon_tag('legal') %>
      Roles
    <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:permitted_attributes:list') -%>
    <%= button_link_to([@provider, :permitted_attributes], class: 'large icon') do -%>
      <%= icon_tag('tags') %>
      Permitted Attributes
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:api_subjects:list") -%>
    <%= button_link_to([@provider, :api_subjects], class: 'large icon') do -%>
      <%= icon_tag('privacy') %>
      API Accounts
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:delete") -%>
    <%= delete_button_tag(@provider, class: 'large') %>
  <%- end -%>
</div>
