<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    @provider.name
  )
%>

<%= page_header('Providers', 'View Provider') %>

<table class="ui definition table">
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @provider.name %></td>
    </tr>
    <tr>
      <td>Identifier</td>
      <td><%= @provider.identifier %></td>
    </tr>
  </tbody>
</table>

<%= button_link_to([:edit, @provider], class: 'large icon') do -%>
  <%= icon_tag('edit') %>
  Edit
<%- end -%>

<%= button_link_to([@provider, :roles], class: 'large icon') do -%>
  <%= icon_tag('legal') %>
  Roles
<%- end -%>

<%= button_link_to([@provider, :permitted_attributes], class: 'large icon') do -%>
  <%= icon_tag('tags') %>
  Permitted Attributes
<%- end -%>

<%= button_link_to([@provider, :provided_attributes], class: 'large icon') do -%>
  <%= icon_tag('users') %>
  Provided Attributes
<%- end -%>

<%= button_link_to([@provider, :api_subjects], class: 'large icon') do -%>
  <%= icon_tag('privacy') %>
  API Access
<%- end -%>

<%= delete_button_tag(@provider, class: 'large') %>
