<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    'Permitted Attributes'
  )
%>

<%= page_header(@provider.name, 'Permitted Attributes') %>

<%- if @permitted_attributes.empty? -%>
  <%= info_message('No Permitted Attributes') do -%>
    <p>
      No attributes are currently permitted to be provided by
      <strong><%= @provider.name %></strong>.
    </p>
  <%- end -%>
<%- else -%>
  <table class="ui striped compact table" id="permitted">
    <thead>
      <tr>
        <th class="">Name</th>
        <th>Value</th>
        <th/>
      </tr>
    </thead>
    <tbody>
      <%- @permitted_attributes.each do |permitted_attribute| -%>
        <%- attribute = permitted_attribute.available_attribute -%>
        <tr>
          <td><%= attribute.name %></td>
          <td><%= attribute.value %></td>
          <td class="right aligned">
            <%- if permitted?('admin:permitted_attributes:delete') -%>
              <%= delete_button_tag([@provider, permitted_attribute], text: 'Remove') %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<h3 class="ui header">Available Attributes</h3>

<%- if @available_attributes.empty? -%>
  <%= info_message('No Available Attributes') do -%>
    <p>
      No additional attributes are available to be provided by
      <strong><%= @provider.name %></strong>.
    </p>
  <%- end -%>
<%- else -%>
  <table class="ui striped compact table" id="available">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th/>
      </tr>
    </thead>
    <tbody>
      <%- @available_attributes.each do |attribute| -%>
        <tr>
          <td><%= attribute.name %></td>
          <td><%= attribute.value %></td>
          <td class="right aligned">
            <%- if permitted?('admin:permitted_attributes:create') -%>
              <%= form_tag(provider_permitted_attributes_path(@provider), method: 'post') do |f| -%>
                <%= hidden_fields do -%>
                  <%= hidden_field_tag(:'permitted_attribute[available_attribute_id]', attribute.id) %>
                <%- end -%>

                <%= button_tag(class: 'tiny green icon', type: 'submit') do -%>
                  <%= icon_tag('add') %>
                  Add
                <%- end -%>
              <%- end -%>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>
