<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    { 'Provided Attributes' => url_for([@provider, :provided_attributes]) },
    'Invite a User'
  )
%>

<%= page_header(@provider.name, 'Invite a User') %>

<%= form_for([@provider, @invitation]) do |f| -%>
  <%= field_block do -%>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
  <%- end -%>

  <%= field_block do -%>
    <%= f.label(:mail, 'Email Address') %>
    <%= f.text_field(:mail) %>
  <%- end -%>

  <%= field_block do -%>
    <%= f.label(:expires) %>
    <%= f.date_field(:expires) %>
  <%- end -%>

  <div class="line-of-buttons">
    <%- if permitted?("providers:#{@provider.id}:invitations:create") -%>
      <%= button_tag(type: 'submit', class: 'large green icon') do -%>
        <%= icon_tag('checkmark') %>
        Send Invitation
      <%- end -%>
    <%- end -%>

    <%= button_link_to(provider_provided_attributes_path(@provider), class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>

  <%= error_messages_tag %>
<%- end -%>

<%= validate_form('#new_invitation', :invitation) do -%>
  <%= auto_validate(@invitation, :name, :mail, :expires) %>
  <%= validate_field(:expires, future_date: 'Please enter an expiry date in the future') %>
<%- end -%>
