<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    'Identities'
  )
%>

<%= page_header(@provider.name, 'Currently Enhanced Identities') %>

<%- if @provided_attributes.empty? -%>
  <%= info_message('No Provided Attributes') do -%>
    <p>
      <strong><%= @provider.name %></strong> is not currently enhancing any
      identities.
    </p>
  <%- end -%>
<%- else -%>
  <table class="ui striped compact table" id="provided-attributes">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Attribute</th>
        <th>Value</th>
        <th/>
      </tr>
    </thead>

    <tbody>
      <%- @provided_attributes.each do |attribute| -%>
        <tr>
          <td><%= attribute.subject.name %></td>
          <td><%= attribute.subject.mail %></td>
          <td><%= attribute.name %></td>
          <td><%= attribute.value %></td>
          <td class="right aligned">
            <%- if permitted?("providers:#{@provider.id}:attributes:delete") -%>
              <%= delete_button_tag(
                    provider_provided_attribute_path(@provider, attribute)) %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<%- if permitted?("providers:#{@provider.id}:invitations:create") -%>
  <div class="line-of-buttons">
    <%= button_link_to(url_for([:select_subject, @provider, :provided_attributes]),
                       class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Enhance an Identity
    <%- end -%>
  </div>
<%- end -%>
