<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    { 'Provided Attributes' => url_for([@provider, :provided_attributes]) },
    'Enhance an Identity'
  )
%>

<%= page_header(@provider.name, 'Available Identities') %>

<table class="ui striped compact table" id="available-subjects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="center aligned">State</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @objects.each do |object| -%>
      <tr>
        <td><%= object.name %></td>
        <td><%= object.mail %></td>
        <td class="center aligned">
          <%- if object.complete? -%>
            <%= icon_tag('green checkmark') %> Active
          <%- else -%>
            <%= icon_tag('yellow warning sign') %> Pending
          <%- end -%>
        </td>
        <td class="action-buttons right aligned">
          <%- unless object.complete? || object.invitations.none? -%>
            <%- invitation = object.invitations.first -%>
            <%- if permitted?("provider:#{invitation.provider_id}:invitations:create") -%>
              <%= button_link_to(redeliver_provider_invitation_path(invitation.provider, invitation),
                                 class: 'tiny icon') do -%>
                <%= icon_tag('send') %>
                Redeliver Invitation
              <%- end -%>
            <%- end -%>
          <%- end -%>

          <%- if permitted?("providers:#{@provider.id}:attributes:create") -%>
            <%= button_link_to(new_provider_provided_attribute_path(@provider, subject_id: object.id),
                               class: 'tiny green icon') do -%>
              <%= icon_tag('add') %>
              Enhance Identity
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if permitted?("providers:#{@provider.id}:invitations:create") -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_provider_invitation_path(@provider), class: 'large green icon') do -%>
      <%= icon_tag('send') %>
      Invite a User
    <%- end -%>
  </div>
<%- end -%>
