<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    { 'Roles' => provider_roles_path(@provider) },
    { @role.name => provider_role_path(@provider, @role) },
    'Permissions'
  )
%>

<%= page_header(@provider.name, 'Edit Role Permissions') %>

<table class="ui striped compact table">
  <thead>
    <tr>
      <th>Permission String</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @permissions.each do |permission| -%>
      <tr>
        <td><code><%= permission.value %></code></td>
        <td class="right aligned"><%= delete_button_tag(url_for([@provider, @role, permission])) %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<h3 class="ui header">Add New Permission</h3>

<%= form_for([@provider, @role, @new_permission], html: { id: 'new-permission' }) do |f| -%>
  <%= field_block do -%>
    <%= f.label :value do -%>
      Permission String
    <%- end -%>
    <%= f.text_field :value %>
  <%- end -%>

  <%= button_tag(type: 'submit', class: 'large green icon') do -%>
    <%= icon_tag('add') %>
    Add
  <%- end -%>

  <%= error_messages_tag %>
<%- end -%>

<%= validate_form('#new-permission', :permission) do -%>
  <%= auto_validate(@new_permission, :value) %>
  <%= validate_field(:value, accession_permission_value: 'Please enter a valid permission value') %>
<%- end -%>
