<%= page_header('Subjects') %>

<table class="ui very basic compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%- @objects.each do |object| -%>
      <tr>
        <td><%= object.name %></td>
        <td><%= link_to(object.mail, "mailto:#{object.mail}") %></td>
        <td>
          <%= button_link_to(object, class: 'tiny icon') do -%>
            <%= icon_tag('content') %>
            View
          <%- end -%>

          <%= delete_button_tag(object) %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
