<%=
  breadcrumbs(
    { 'Administration' => root_path },
    'Subjects'
  )
%>

<%= page_header('Subjects') %>

<table class="ui striped compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>State</th>
      <th>Functioning</th>
      <th/>
    </tr>
  </thead>

  <tbody>
    <%- @objects.each do |object| -%>
      <tr>
        <td><%= object.name %></td>
        <td><%= link_to(object.mail, "mailto:#{object.mail}") %></td>
        <td>
          <%- if object.complete? -%>
            <%= icon_tag('green checkmark') %> Active
          <%- else -%>
            <%= icon_tag('yellow warning sign') %> Pending
          <%- end -%>
        </td>
        <td>
          <%- if object.functioning? -%>
            <%= icon_tag('green checkmark') %> Yes
          <%- else -%>
            <%= icon_tag('yellow warning sign') %> No
          <%- end -%>
        </td>
        <td class="action-buttons right aligned">
          <%- if permitted?('admin:subjects:read') -%>
            <%= button_link_to(object, class: 'tiny icon') do -%>
              <%= icon_tag('content') %>
              View
            <%- end -%>
          <%- end -%>

          <%- if permitted?('admin:subjects:delete') -%>
            <%= delete_button_tag(object) %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
