<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    { 'Roles' => provider_roles_path(@provider) },
    { @role.name => provider_role_path(@provider, @role) },
    'Add Subject'
  )
%>

<%= page_header(@provider.name, 'Grant Role to Subject') %>

<h3 class="ui header"><%= @role.name %></h3>

<%- if @subjects.present? %>
  <table class="ui striped compact table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th/>
      </tr>
    </thead>
    <tbody>
      <%- @subjects.each do |subject| -%>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.mail %></td>
          <td class="right aligned">
            <%- if permitted?("providers:#{@provider.id}:roles:grant") -%>
              <%= form_for([@provider, @role, @assoc], url: provider_role_members_path(@provider, @role),
                                                       html: { class: 'inline' }) do |f| -%>

                <%= button_tag(name: 'subject_role_assignment[subject_id]',
                               value: subject.id, class: 'tiny green icon') do -%>
                  <%= icon_tag('checkmark') %>
                  Grant
                <%- end -%>
              <%- end -%>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- else %>
  <p>All available users are already a member of this role.
<%- end %>
