<%= form_for([@provider, @api_subject], html: { id: 'api-subject' }) do |f| -%>
  <%= field_block do %>
    <%= f.label(:description) do -%>
      Description
      <%= field_help_text('A description of the API account and how it will be used') %>
    <%- end -%>
    <%= f.text_field :description %>
  <%- end -%>

  <%= field_block do %>
    <%= f.label(:x509_cn) do -%>
      X.509 CN
      <%= field_help_text('The CN field from the AAF-supplied certificate for this account') %>
    <%- end -%>
    <%= f.text_field :x509_cn %>
  <%- end -%>

  <%= field_block do %>
    <%= f.label :contact_name do -%>
      Contact Name
      <%= field_help_text('The name of a person or team responsible for this API account') %>
    <%- end -%>
    <%= f.text_field :contact_name %>
  <%- end -%>

  <%= field_block do %>
    <%= f.label(:contact_mail) do -%>
      Contact Email Address
      <%= field_help_text('The email address of a person or team responsible for this API account') %>
    <%- end -%>
    <%= f.text_field :contact_mail %>
  <%- end -%>

  <div class="line-of-buttons">
    <%= button_tag(type: 'submit', class: 'large green icon') do -%>
      <%= icon_tag('checkmark') %>
      <%= submit_label %>
    <%- end -%>

    <%= button_link_to(provider_api_subjects_path(@provider), class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>

  <%= error_messages_tag %>
<%- end -%>

<%= validate_form('#api-subject', :api_subject) do -%>
  <%= auto_validate(@api_subject, :description, :x509_cn, :contact_name, :contact_mail) %>
  <%= validate_field(:x509_cn, urlsafe_base64: 'Please enter the CN of your API certificate supplied by AAF') %>
<%- end -%>
