<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    'API Accounts'
  )
%>

<%= page_header(@provider.name, 'API Access') %>

<%- if @api_subjects.empty? -%>
  <%= info_message('No API Accounts') do -%>
    <strong><%= @provider.name %></strong> does not yet have any API accounts
    created.
  <%- end -%>
<%- else -%>
  <table class="ui striped compact table">
    <thead>
      <tr>
        <th>X.509 CN</th>
        <th>Description</th>
        <th>Functioning</th>
        <th/>
      </tr>
    </thead>
    <tbody>
      <%- @api_subjects.each do |api_subject| -%>
        <tr>
          <td><%= api_subject.x509_cn %></td>
          <td><%= api_subject.description %></td>
          <td>
            <%- if api_subject.functioning? -%>
              <%= icon_tag('green checkmark') %> Yes
            <%- else -%>
              <%= icon_tag('yellow warning sign') %> No
            <%- end -%>
          </td>
          <td class="right aligned">
            <%= button_link_to([:edit, @provider, api_subject], class: 'tiny icon') do -%>
              <%= icon_tag('edit') %>
              Edit
            <%- end -%>

            <%= delete_button_tag([@provider, api_subject]) %>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<%- if permitted?("providers:#{@provider.id}:api_subjects:create") -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_provider_api_subject_path(@provider), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New API Account
    <%- end -%>
  </div>
<%- end -%>
