<%= form_for([@provider, @role], html: { id: 'role-form' }) do |f| -%>
  <%= field_block do -%>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <%- end -%>

  <div class="line-of-buttons">
    <%= f.button(class: 'large green icon') do -%>
      <%= icon_tag('checkmark') %>
      <%= submit_label %>
    <%- end -%>

    <%= button_link_to(provider_roles_path(@provider), class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>

  <%= error_messages_tag %>
<%- end -%>

<%= validate_form('#role-form', :role) do -%>
  <%= auto_validate(@role, :name) %>
<%- end -%>
