<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    'Roles'
  )
%>

<%= page_header(@provider.name, 'Roles') %>

<table class="ui striped compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="center aligned">Users</th>
      <th class="center aligned">API Accounts</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @roles.each do |role| -%>
      <tr>
        <td><%= role.name %></td>
        <td class="center aligned"><%= role.subjects.count %></td>
        <td class="center aligned"><%= role.api_subjects.count %></td>
        <td class="right aligned">
          <%- if permitted?("providers:#{@provider.id}:read") -%>
            <%= button_link_to([@provider, role], class: 'tiny icon') do -%>
              <%= icon_tag('users') %>
              Members
            <%- end -%>
          <%- end -%>

          <%- if permitted?('admin:roles:update') -%>
            <%= button_link_to([@provider, role, :permissions], class: 'tiny icon') do -%>
              <%= icon_tag('asterisk') %>
              Permissions
            <%- end -%>

            <%= button_link_to([:edit, @provider, role], class: 'tiny icon') do -%>
              <%= icon_tag('edit') %>
              Edit
            <%- end -%>
          <%- end -%>

          <%- if permitted?('admin:roles:delete') -%>
            <%= delete_button_tag([@provider, role]) %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if permitted?('admin:roles:create') -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_provider_role_path(@provider), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New Role
    <%- end -%>
  </div>
<%- end -%>
