<%=
  breadcrumbs(
    { 'Providers' => providers_path },
    { @provider.name => provider_path(@provider) },
    { 'Roles' => provider_roles_path(@provider) },
    @role.name
  )
%>

<%= page_header(@provider.name, 'View Role') %>

<h3 class="ui header"><%= @role.name %></h3>

<h4>Users</h4>
<table class="ui striped compact table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Targeted ID</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @role.subject_role_assignments.each do |assoc| -%>
      <tr>
        <td><%= assoc.subject.name %></td>
        <td><%= mail_to assoc.subject.mail %></td>
        <td><%= assoc.subject.targeted_id %></td>
        <td class="right aligned">
          <%- if permitted?("providers:#{@provider.id}:roles:revoke") %>
            <%- if(assoc.subject != @subject) %>
              <%= delete_button_tag(provider_role_member_path(@provider, @role, assoc), text: 'Revoke') %>
            <%- else %>
              <i class="icon ban"></i><strong>current account</strong>
            <%- end -%>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<h4>API Access</h4>
<table class="ui striped compact table">
  <thead>
    <tr>
      <th>x509 CN</th>
      <th>Email Address</th>
      <th class="center aligned">Functioning</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%- @role.api_subject_role_assignments.each do |assoc| -%>
      <tr>
        <td><%= assoc.api_subject.x509_cn %></td>
        <td><%= mail_to assoc.api_subject.contact_mail %></td>
        <td class="center aligned">
          <%- if assoc.api_subject.functioning? -%>
            <%= icon_tag('green checkmark') %> Yes
          <%- else -%>
            <%= icon_tag('yellow warning sign') %> No
          <%- end -%>
        </td>
        <td class="right aligned">
          <%- if permitted?("providers:#{@provider.id}:roles:revoke") -%>
            <%= delete_button_tag(provider_role_api_member_path(@provider, @role, assoc),
                                  text: 'Revoke') %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<div class="line-of-buttons">
  <%- if permitted?('admin:roles:update') -%>
    <%= button_link_to(edit_provider_role_path(@provider, @role), class: 'large icon') do -%>
      <%= icon_tag('edit') %>
      Edit
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:roles:grant") -%>
    <%= button_link_to(new_provider_role_member_path(@provider, @role), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Add Subject
    <%- end -%>
  <%- end -%>

  <%- if permitted?("providers:#{@provider.id}:roles:grant") -%>
    <%= button_link_to(new_provider_role_api_member_path(@provider, @role), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Add API Account
    <%- end -%>
  <%- end -%>
</div>
